e-goi-wrapper-java/lib/
e-goi-wrapper-java/bin/
e-goi-wrapper-java/dist/
e-goi-wrapper-java/release/
e-goi-wrapper-cpp/build/
e-goi-wrapper-csharp/EgoiApi/bin/
e-goi-wrapper-csharp/EgoiApi/obj/
e-goi-wrapper-csharp/Test/bin/
e-goi-wrapper-csharp/Test/obj/
e-goi-wrapper-csharp/TestApplication/

e-goi-wrapper-csharp/EgoiApiProject/TestApp/

/e-goi-wrapper-csharp/**/obj
/e-goi-wrapper-csharp/**/bin
.DS_Store
**/*.pyc
*.suo
**/release/
**/dist/

/version.json
e-goi-wrapper-csharp/EgoiApiProject/EgoiSlingshotTest/*
e-goi-wrapper-java/build/classes/.netbeans_automatic_build
e-goi-wrapper-java/build/classes/.netbeans_update_resources
